node_modules/
*.log
npm-debug.log*
.env
.env.*.local
.DS_Store
Thumbs.db
.vscode/

1.3P/node_modules/
1.3P/*.log
1.3P/npm-debug.log*
1.3P/.env
1.3P/.env.*.local
1.3P/.DS_Store
1.3P/Thumbs.db
1.3P/.vscode/

2.2P/node_modules/
2.2P/*.log
2.2P/npm-debug.log*
2.2P/.env
2.2P/.env.*.local
2.2P/.DS_Store
2.2P/Thumbs.db
2.2P/.vscode/

3.2P/node_modules/
3.2P/*.log
3.2P/npm-debug.log*
3.2P/.env
3.2P/.env.*.local
3.2P/.DS_Store
3.2P/Thumbs.db
3.2P/.vscode/

4.2P/node_modules/
4.2P/*.log
4.2P/npm-debug.log*
4.2P/.env
4.2P/.env.*.local
4.2P/.DS_Store
4.2P/Thumbs.db
4.2P/.vscode/

6.2C/node_modules/
6.2C/*.log
6.2C/npm-debug.log*
6.2C/.env
6.2C/.env.*.local
6.2C/.DS_Store
6.2C/Thumbs.db
6.2C/.vscode/

7.2P/node_modules/
7.2P/*.log
7.2P/npm-debug.log*
7.2P/.env
7.2P/.env.*.local
7.2P/.DS_Store
7.2P/Thumbs.db
7.2P/.vscode/